@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(4,6,40);
    background: -moz-linear-gradient(90deg, rgba(4,6,40,1) 0%, rgba(11,12,31,1) 4%, rgba(20,20,20,1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(4,6,40,1) 0%, rgba(11,12,31,1) 4%, rgba(20,20,20,1) 90%);
    background: linear-gradient(90deg, rgba(4,6,40,1) 0%, rgba(11,12,31,1) 4%, rgba(20,20,20,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040628",endColorstr="#141414",GradientType=1);
}